.contact-section {
  position: fixed;
  top: 200px;
  left: 40px;
}

.contact-list {
  list-style: none;
}

.contact-single-list {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}
