body.preload * {
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
  transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}

.projects {
  max-width: 50vw;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  right: 100px;
  padding: 30px 0 60px 0;
}

.intro {
  color: #a1c1db;
  font-size: 20px;
  padding-bottom: 20px;
}

.nature,
.fitness {
  padding: 0 0 0 30px;
  display: flex;
  gap: 50px;
  align-items: center;
}
.fitness {
  margin-top: 20px;
}

.nature-container,
.fitness-container {
  position: relative;
}

.projects-links {
  cursor: pointer;
  opacity: 0.7;
}

.projects-links:hover {
  opacity: 1;
}

.nature-link,
.fitness-link {
  position: absolute;
  background: none;
  bottom: 0;
  right: 0;
}

.nature-link-gh,
.fitness-link-gh {
  margin: 0 60px 0 0;
}

.white-bg-gh {
  background: #fff;
  border-radius: 200px;
}

.white-bg-link {
  background: #fff;
  border-radius: 5px;
}

.frontPage {
  border-radius: 20px;
  width: 360px;
  height: 240px;
  opacity: 0.8;
  transition: all 0.2s;
  display: block;
}

.frontPage:hover {
  opacity: 1;
  transition: all 0.2s;
}

.tech-container {
  padding: 0 0 0 10px;
  border-left: 2px solid;
}

.tech {
  padding-bottom: 10px;
}

.stack {
  display: block;
  padding: 10px 0 0 10px;
  color: #adb5bd;
}

.html {
  color: #ff922b;
}

.css {
  color: #339af0;
}

.js {
  color: #ffe066;
}

.react {
  color: rgb(20, 158, 202);
}

.nodejs {
  color: rgb(65, 126, 56);
}

.mongodb {
  color: #00ed64;
}

@media screen and (max-width: 768px) {
  .projects {
    max-width: none;
    margin: auto;
    right: auto;
    padding: 0;
  }
  .intro {
    font-size: 16px;
    margin-left: 20px;
  }
  .nature {
    flex-direction: column;
    padding: 0;
    gap: 20px;
    align-items: baseline;
    margin-left: 40px;
  }
  .frontPage {
    width: 250px;
    height: 150px;
  }
  .projects-links a img {
    width: 36px;
  }
  .nature-link-gh {
    margin: 0 45px 0 0;
  }
  .tech-container {
    border: none;
  }
}
