.projects {
  max-width: 50vw;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  right: 100px;
  padding: 30px 0 0 0;
  transform: all 0.5s;
}

.intro {
  color: #a1c1db;
  font-size: 20px;
  padding-bottom: 20px;
}

.nature {
  padding: 0 0 0 30px;
  display: flex;
  gap: 50px;
  align-items: center;
}

.nature-container {
  position: relative;
}

.projects-links {
  cursor: pointer;
  opacity: 0.7;
}

.projects-links:hover {
  opacity: 1;
}

.nature-link {
  position: absolute;
  background: none;
  bottom: 0;
  right: 0;
}

.nature-link-gh {
  margin: 0 60px 0 0;
}

.white-bg-gh {
  background: #fff;
  border-radius: 200px;
}

.white-bg-link {
  background: #fff;
  border-radius: 5px;
}

.frontPage {
  border-radius: 20px;
  width: 360px;
  height: 240px;
  opacity: 0.8;
  transition: all 0.2s;
  display: block;
}

.frontPage:hover {
  opacity: 1;
  transition: all 0.2s;
}

.tech-container {
  padding: 0 0 0 10px;
  border-left: 2px solid;
}

.tech {
  cursor: pointer;
}

.hide {
  opacity: 0;
  animation: hide 0.3s;
}

.show {
  display: block;
  animation: show 0.3s;
}

.stack {
  display: block;
  padding: 10px 0 0 10px;
}

.html {
  color: #ff922b;
}

.css {
  color: #339af0;
}

.js {
  color: #ffe066;
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
